@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.search-input > .ant-input-outlined {
border: none !important;
border-bottom: 2px solid black !important;
background-color: rgb(243 244 246) !important;
z-index: auto !important;
}
.search-input >.ant-input-outlined:focus, .search-input >.ant-input-outlined:focus-within {
    box-shadow: none !important;
    background-color: rgb(243 244 246) !important;
z-index: auto !important;
}
.search-input >.ant-input {
    border-radius: 0px !important;
    width: 13rem !important;
    padding-bottom: 4px !important;
    background-color: rgb(243 244 246) !important;
z-index: auto !important;
}
.speacial-shadow{
    box-shadow: 0px 0px 20px 4px #888888;
}
.pagination li{
width: 30px !important;
}
/* 
*{
    outline: auto;
} */

@media (min-width: 850px) {
    .search-input >.ant-input {
        border-radius: 0px !important;
        width: 16rem !important;
        padding-bottom: 4px !important;
    }
}
@media (min-width: 600px) {
    .pagination li{
        width: 40px !important;
        }
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
